.movie-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e1f2fe;
}
h1 {
  font-size: 40px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 1rem;
  padding: 1.5rem;
  background-color: #6cabdd;
  color: white;
  font-size: 20px;
}
